<h1>{{title}}</h1>
<p>Welcome to a {{title}}</p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Upload Photo</h3>
    </div>

    <form method="POST" action="/photos" enctype="multipart/form-data">
        <div class="body-panel">
            
        </div>
    </form>
</div>